body {
    font-family: Arial, sans-serif;
background-image:url(https://thumbs.dreamstime.com/b/hermoso-arte-fondo-abstracto-azul-violeta-degradado-cielo-pintura-al-%C3%B3leo-sobre-lienzo-dibujado-mano-por-el-artista-174833630.jpg);
background-repeat: no-repeat;
background-size: 100%;
  }

  h1, h2, h3 {
    color: #7d8ff1;

  }

  a {
    color: #007bff;
    text-decoration: none;
  }

  header {
    padding: 20px;
    text-align: center;
  }


  nav {

    padding: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  section {
    padding: 20px;
  }

  div {
    text-align: center;
  }